@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
    font-family: 'Kalam', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.hero{
    height: 240px;
    background: linear-gradient(0deg, rgba(8, 30, 225, 0.23), rgba(8, 30, 225, 0.23)), url(../img/fondo.jpg);
    align-items: center;
    padding-top: 0.1px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

li{
    list-style: none;
}

.header__container{
    color: white;
    margin: 0 auto;
    text-align: center;
}

.name{
    font-size: 20px;
}
.subtitle{
    font-size: 16px;
    font-weight: lighter;
}

.enlace__portafolio{
    
    padding: 5px;
    text-decoration: none;
    color:black;
    display: inline-block;
    width: 113px;
    height: 36px;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    background-color: #6DEA32 ;
    font-size: 16px;
}

.enlace__container{
    position: absolute;
    top:180px;
    width: 100%;
    display: block;
    text-align: center;
    
}

main{
    text-align: center;
}


.sections__container{
    
    display: flex;
    flex-direction: column;
}

.title__section{
    margin: 30px 0 ;
}

.skills___container{
    display: flex;
    justify-content: space-evenly;
    
}
.img__skills{
    width: 140px;
}

.img__education{
    width: 230px;
}

.education__description{
    margin-top: 20px;
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.study{

    display: flex;
    background-color: #6DEA32;
    margin: 5px auto;
    width: 280px;
    height: 110px;
    align-items: center;
    background-color: #E6E6E6;
    border-radius: 10px;
}


.study__lista{
    margin: 0 auto;
}

@media  (min-width:768px){
    .sections__container{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .name{
        font-size: 30px;

    }

    .study:hover {
        background-color: lightblue;
        cursor: pointer;
    }

    .education__description{
        flex-direction: row;

    }
    .subtitle{
        font-size: 18px;
        font-weight: lighter;
        display: inline;
        margin: 0 10px;
    }

}