@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
    font-family: 'Kalam', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    padding-top: 0.1px;
    text-align: center;
}
main{
    padding: 0px 16px;
}
header{
    padding: 10px;
    display: flex;
    align-items: center;
    height: 200px;
    background: linear-gradient(0deg, rgba(8, 30, 225, 0.23), rgba(8, 30, 225, 0.23)), url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 12px;
}

.header__container{
    margin: 0 auto;
}

.subtitle{
    font-size: 18px;
}

.funciones_lista {
    margin: 10px auto;
    padding: 8px;
    text-align: justify;
    background-color: #E6E6E6;
    width: 90vw;
    border-radius: 10px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.enlace__portafolio{
    text-align: center;
    padding: 7px;
    color:black;
    display: block;
    width: 113px;
    height: 36px;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    background-color: #6DEA32 ;
    font-size: 14px;
    margin: 10px auto 0px ;
    
}

.sectionCarrera{
    margin-top: 30px ;
}

.puesto{
    margin-bottom: 20px;
}

@media  (min-width:768px){
    .funciones_lista{
        width: 80vw;
        text-align: center;
    }

    header{
        font-size: 16px;
    }

    .subtitle{
        font-size: 20px;
    }
}